In [92]:
import pandas as pd
import numpy as np

In [93]:
df = pd.read_csv("persona.csv")

In [94]:
df.head()

   PRICE   SOURCE   SEX COUNTRY  AGE
0     39  android  male     bra   17
1     39  android  male     bra   17
2     49  android  male     bra   17
3     29  android  male     tur   17
4     49  android  male     tur   17

In [95]:
#Veri seti içerisinde bulunan SOURCE değişkenin frekans bilgileri
df["SOURCE"].value_counts()

SOURCE
android    2974
ios        2026
Name: count, dtype: int64

In [96]:
#PRICE değişkeni içerisinde kaç adet unique değer vardır?
df["PRICE"].value_counts().count()

6

In [97]:
#HAngi PRICE'dan kaç adet satış gerçekleşmiştir?
df["PRICE"].value_counts()

PRICE
29    1305
39    1260
49    1031
19     992
59     212
9      200
Name: count, dtype: int64

In [98]:
#Hangi ülkenden kaçar tane satış olmuştur?
df["COUNTRY"].value_counts()

COUNTRY
usa    2065
bra    1496
deu     455
tur     451
fra     303
can     230
Name: count, dtype: int64

In [99]:
#Ülkelere göre satışlardan ne kadar kazanılmıştır?
df.groupby("COUNTRY")["PRICE"].sum()

COUNTRY
bra    51354
can     7730
deu    15485
fra    10177
tur    15689
usa    70225
Name: PRICE, dtype: int64

In [100]:
df.groupby("SOURCE")["PRICE"].sum()

SOURCE
android    101636
ios         69024
Name: PRICE, dtype: int64

In [101]:
#Ülkelere Prıce ortalamaları nedir?
df.groupby("COUNTRY")["PRICE"].mean()

COUNTRY
bra    34.327540
can    33.608696
deu    34.032967
fra    33.587459
tur    34.787140
usa    34.007264
Name: PRICE, dtype: float64

In [102]:
#SOURCE'lara göre PRICE ortalamaları nedir?
df.groupby("SOURCE")["PRICE"].mean()

SOURCE
android    34.174849
ios        34.069102
Name: PRICE, dtype: float64

In [103]:
#COUNTRY-SOURCE kırılımında PRICE ortalamaları nedir?
df.groupby(["SOURCE","COUNTRY"])["PRICE"].mean()

SOURCE   COUNTRY
android  bra        34.387029
         can        33.330709
         deu        33.869888
         fra        34.312500
         tur        36.229437
         usa        33.760357
ios      bra        34.222222
         can        33.951456
         deu        34.268817
         fra        32.776224
         tur        33.272727
         usa        34.371703
Name: PRICE, dtype: float64

In [104]:
#COUNTRY, SOURCE, SEX, AGE kırılımında ortalama kazançlar nedir?
df.groupby(["SOURCE","COUNTRY","SEX","AGE"])["PRICE"].mean()

SOURCE   COUNTRY  SEX     AGE
android  bra      female  15     38.714286
                          16     35.944444
                          17     35.666667
                          18     32.255814
                          19     35.206897
                                   ...
ios      usa      male    42     30.250000
                          50     39.000000
                          53     34.000000
                          55     29.000000
                          59     46.500000
Name: PRICE, Length: 348, dtype: float64

In [105]:
#Önceki sorudaki çıktıyı daha iyi görebilmek için sort_values metodunu azalan olacak şekilde PRICE’a göre uygulayınız.
agg_df = df.groupby(["COUNTRY","SOURCE","SEX","AGE"])["PRICE"].mean().sort_values(ascending=False)

In [106]:
#Üçüncü sorunun çıktısında yer alan PRICE dışındaki tüm değişkenler index isimleridir. Bu isimleri değişken isimlerine çeviriniz.
agg_df = agg_df.reset_index()

In [107]:
#Age değişkenini kategorik değişkene çeviriniz ve agg_df’e ekleyiniz.
agelist = [0,18,23,30,40,70]
agelistsrt = ["0_18","19_23","24_30","31_40","41_70"]
agg_df["AGE_CAT"] = pd.cut(agg_df["AGE"],bins=agelist,labels=agelistsrt)
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE AGE_CAT
0     bra  android    male   46   59.0   41_70
1     usa  android    male   36   59.0   31_40
2     fra  android  female   24   59.0   24_30
3     usa      ios    male   32   54.0   31_40
4     deu  android  female   36   49.0   31_40

In [108]:
#Yeni seviye tabanlı müşterileri (persona) tanımlayınız.
agg_df["CUSTOMER_LEVEL_BASED"] = agg_df["COUNTRY"].str.cat([agg_df["SOURCE"],agg_df["SEX"],agg_df["AGE_CAT"]],sep="_")

agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE AGE_CAT      CUSTOMER_LEVEL_BASED
0     bra  android    male   46   59.0   41_70    bra_android_male_41_70
1     usa  android    male   36   59.0   31_40    usa_android_male_31_40
2     fra  android  female   24   59.0   24_30  fra_android_female_24_30
3     usa      ios    male   32   54.0   31_40        usa_ios_male_31_40
4     deu  android  female   36   49.0   31_40  deu_android_female_31_40

In [112]:
#Elde edilen veriyi tekilleştiriniz
agg_df = agg_df.groupby(["CUSTOMER_LEVEL_BASED"])["PRICE"].mean().reset_index()
agg_df.head()

       CUSTOMER_LEVEL_BASED      PRICE
0   bra_android_female_0_18  35.645303
1  bra_android_female_19_23  34.077340
2  bra_android_female_24_30  33.863946
3  bra_android_female_31_40  34.898326
4  bra_android_female_41_70  36.737179

In [113]:
#Yeni müşterileri (personaları) segmentlere ayırınız.
agg_df["SEGMENT"] = pd.qcut(agg_df["PRICE"],4,labels=["D","C","B","A"])
agg_df.head()

       CUSTOMER_LEVEL_BASED      PRICE SEGMENT
0   bra_android_female_0_18  35.645303       B
1  bra_android_female_19_23  34.077340       C
2  bra_android_female_24_30  33.863946       C
3  bra_android_female_31_40  34.898326       B
4  bra_android_female_41_70  36.737179       A

In [114]:
#gelen müşterileri sınıflandırıp, ne kadar gelir getirebileceklerini tahmin ediniz.
newuser = "tur_android_female_31_40"
agg_df[agg_df["CUSTOMER_LEVEL_BASED"] == newuser]

        CUSTOMER_LEVEL_BASED      PRICE SEGMENT
72  tur_android_female_31_40  41.833333       A

In [116]:
#gelen müşterileri sınıflandırıp, ne kadar gelir getirebileceklerini tahmin ediniz.
newuser2 = "fra_ios_female_31_40"
agg_df[agg_df["CUSTOMER_LEVEL_BASED"] == newuser2]

    CUSTOMER_LEVEL_BASED      PRICE SEGMENT
63  fra_ios_female_31_40  32.818182       C